// Website theme/bootstrap

//import bootstrap scss
@import "../../node_modules/bootstrap/scss/bootstrap";

$yellow: #fed766;
$blue: #1a99aa;
$dblue: #157885;
$ddblue: #005763;
$red: #db5461;
$green: #388659;
$dgreen: #25613e;
$white: #fcfcfc;
$black: #000000;

// Text Styles

html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("./../images/bg-yellow.jpg");
  background-color: $white;
  font-family: "Lato";
}

h1 {
  font-family: "Oswald";
}

.main-text {
  font-size: 1.1em;
}

header {
  #nav-main {
    background-color: $white;
    color: $black;
  }

  #nav-sub {
    background-color: $black;
    color: $white;
  }

  // .container-center {
  // 	text-align: center;
  // 	display: flex-column;
  // 	align-items: center;
  // 	justify-content: center;
  // }
}

// LANDING PAGE

// .container-fluid {
// 	padding-left: 8.33%;
// 	padding-right: 8.33%;
// 	padding-top: 50px;
// 	padding-bottom: 50px;
// }

.jumbotron {
  background-image: linear-gradient(
      rgba(254, 215, 102, 0.8),
      rgba(30, 203, 225, 0.8)
    ),
    url("./../images/home.jpg");
  position: relative;
  height: 100vh;
}

.row {
  padding: 50px 10px;
  margin: 50px 0px;
}

.btn-main {
  border-radius: 0;
  border: solid 1px $black;
  color: $white;
  background-color: $black;
}

.btn-main:hover {
  border: solid 2px $blue;
  color: $black;
  background-color: $yellow;
}
.btn1 {
  border-radius: 0;
  border: solid 2px $black;
  color: $black;
  background-color: $yellow;
}

.btn1:hover {
  border: solid 2px $blue;
  color: $ddblue;
  font-weight: 600;
  background-image: linear-gradient(
    45deg,
    rgba(254, 215, 102, 0.8),
    rgba(30, 203, 225, 0.5)
  );
}
.btn2 {
  border-radius: 0;
  color: $green;
  padding: 1px;
}

.btn2:hover {
  color: $blue;
}

.btn3 {
  border-radius: 0;
  color: $ddblue;
  padding: 1px;
  font-weight: 700;
}

.btn3:hover {
  color: $white;
}

.card {
  border-radius: 0;
  outline: solid 1px $black;
}

.card-img {
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
}

.card-img2 {
  object-position: top;
  width: 100% !important;
  height: 400px !important;
  object-fit: cover;
  border: 2px solid $black;
}

.card-filler {
  background-color: $black;
}

hr {
  border: 2px solid $black;
  margin: 0;
}

footer {
  text-align: center;
  color: $white;
}

.footer2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.extra-link {
  color: $green;
}

.extra-link:hover {
  color: $blue;
  text-decoration: none;
}

footer {
  .footer {
    background-color: $black;
    padding: 2em;
  }
}

.carousel {
  height: 33em;
}

// .form-control:focus {
// 	// border-color: brown !important;
// 	box-shadow: rgba(254, 215, 102, 1) !important;
// }

.form-control:focus {
  border-color: $blue !important;
  box-shadow: inset 0 0px 0px $yellow, 0 0 8px $yellow !important;
}
